<html lang="tr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Avatar Model</title>
</head>

<body>
  <div style="width:600px; margin:0 auto; padding:10px; border:1px solid #e7e7e7; border-radius:5px;">
    <h2><strong>You avatar model is ready!</strong></h2>
    <p><strong>Username:<br> </strong> {{username}} </p>
    <p><strong>For more info join us on:</strong><br> <a href="http://vrsocial.org">vrsocial.org</a> &nbsp; <a
        href="https://freemre.com">freemre.com</a> &nbsp;</p>
    <hr class="rounded">
    <p>Terms of use</p>
    <ol style="padding-left: 20; font-size: small;">
        <li>By downloading you agree to not use for profit, not sell as a service, and not in any form profit from any method using this model.</li>
        <li>By agreeing, you agree that you will only use the model for " Personal use" and not use in any future for-profit ideas.</li>
        <li>Anyone caught doing so will be banned permanently from all future projects including updates on this one.</li>
    </ol>
    </p>
  </div>
</body>

</html>